# core
.DS_Store
.env
.env*.local
output
dist
target
.idea
.cache
.output
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml
.vercel
private
private.*
private-*
p-*
past.*
past-*
*.bike
*.db
.repo_ignore

.contentlayer
.content-collections
.source
/coverage
/.next/
/out/
/build
*.tsbuildinfo
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
next-env.d.ts
